<div class="development-notice">
<%= image_tag("https://s3-ap-southeast-2.amazonaws.com/vocabulate/ff8b00-speech-bubble-128.png")%>
<p class="user-details-1">
  Vocabulate Me is currently under development. <br>
  To try the application, please use the following details: <br>
</p>
<p class="user-details-2">  
  username: <strong>steve@vocabulate.me</strong> <br> 
  password: <strong>password</strong> 
</p>
</div>

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
